/* MAIN STYLE */


body {
    display: flex;
    flex-direction: column;
    margin: 0px auto;
    box-sizing: border-box;
    min-height: 100vh;
    background-color: #3758A3;
}


main {
    display: flex;
    flex-direction: column;
    flex: 1;
    max-width: 1920px;
    margin: 0px auto;
    padding: 0 16px;
}


h1 {
    color: #FFCB08;
}


span {
    color: #FFCB08;
    color: whitesmoke;
}


.pokemon-icon {
    width: 150px;
    height: auto;
}


.seperator {
    display: flex;
    width: 100%;
    height: 2px;
    background-color: #FFCB08;
}


.content-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 16px;
    margin-bottom: 32px;
}


.content-container {
    height: 220px;
    width: 200px;
    background-color: black;
   /*  background-color: #8ba0d1; */
    border-radius: 8px;
    border: 2px solid #FFCB08;
    border: 2px solid #8ba0d1;
}


.content-container:hover{
cursor: pointer;
transition: transform 0.5s ease-in-out;
    transform: scale(1.02);
}