/* OVERLAY / DIALOG */

.overlay {
  position: fixed;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  height: 100vh;
  width: 100%;
  z-index: 999;
  background-color: rgba(0, 0, 0, 0.555);
}

.dialog {
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-shadow: 0px 0px 16px 2px #000000;
  border-radius: 8px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 450px;
  height: 650px;
  background-color: rgb(223, 52, 52);
  border-radius: 8px;
  padding: 16px;
}

.dialog-pokemon-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.dialog-card-header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: ivory;
  border: 2px solid black;
  border-radius: 8px;
  padding: 8px 0px;
  margin-bottom: 16px;
  color: #000000;
}

.pokemon-image-dialog {
  width: 300px;
  height: 250px;
}

.dialog-pokemon-image-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.back-next-img {
  width: 50px;
  height: 50px;
}

.back-next-img:hover {
  cursor: pointer;
  transition: transform 0.5s ease-in-out;
  transform: scale(1.1);
}

.dialog-card-type {
  display: flex;
  justify-content: center;
  gap: 16px;
  margin-top: 16px;
}

.type-icons-dialog {
  width: 40px;
  height: 40px;
  border: 2px solid ivory;
  border-radius: 100px;
}

.dialog-pokemon-info-wrapper {
  border: 2px solid black;
  background-color: ivory;
  border-radius: 32px;
  margin: 16px 0px;
}

.dialog-pokemon-info-btns {
  cursor: pointer;
  border: none;
  background-color: transparent;
  color: black;
  padding: 4px 24px;
  font-size: 16px;
  font-weight: bold;
}

.dialog-pokemon-info-btns:hover {
  cursor: pointer;
  transition: transform 0.5s ease-in-out;
  transform: scale(1.05);
  text-decoration: underline;
  text-underline-offset: 2px;
}

.dialog-pokemon-info-btns-container {
  display: flex;
  justify-content: space-around;
}

.species-main-wrapper {
  display: flex;
  justify-content: center;
}

.species-stats-wrapper {
  display: contents;
}

tbody {
  display: flex;
  flex-direction: column;
}

.skill-bar-fill {
  height: 10px;
  background-color: #4caf50;
  width: 0%;
  border-radius: 16px;
  transition: width 0.5s ease;
}

.td-stats-info-right {
  width: 100%;
  padding: 4px;
  background-color: #000000;
  border-radius: 16px;
  position: relative;
  overflow: hidden;
}

.td-stats-info-left {
  width: 100px;
}

.tr-main-info {
  display: flex;
  justify-content: space-between;
  gap: 120px;
  color: black;
  background-color: ivory;
  border: 2px solid black;
  border-radius: 32px;
  font-size: 12px;
  font-weight: bold;
  padding: 4px 32px;
  margin-bottom: 16px;
}

.tr-stats-info {
  display: flex;
  gap: 8px;
  color: black;
  background-color: ivory;
  border: 2px solid black;
  border-radius: 32px;
  font-size: 12px;
  font-weight: bold;
  padding: 4px 8px 4px 32px;
  margin-bottom: 16px;
}

.close-btn-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}

.dialog-btn {
  color: #ffcb08;
  background-color: #3758a3;
  border-radius: 16px;
  border: 2px solid whitesmoke;
  border: 2px solid #ffcb08;
  padding: 6px 32px;
  font-size: 16px;
}

.dialog-btn:hover {
  cursor: pointer;
  transition: transform 0.5s ease-in-out;
  transform: scale(1.05);
}

/* MEDIA QUERY */

@media (max-width: 500px) {
  .dialog {
    width: 95%;
    height: 95vh;
  }

  .back-next-img {
    width: 35px;
    height: 35px;
  }

  .pokemon-image-dialog {
    width: 220px;
    height: 200px;
  }
}
